html,body{
    padding: 0;
    margin:  0;
}
#Container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width:  100%;
    height: 100%;
    padding: 0;
    margin:  0;
    background-color: black;
}
#home_btn{
    position: relative;
    height: 30px;
    left: 20px;
  }
.site_side_bar{
    position: sticky;
    left: 10;
    top: 0;
    width: 25%;
    opacity: 0.8;
    padding: 10.3px;
    margin: 0;
    background-color: orange;
    z-index: 100;
    display: block;
} 

h2, p, ol, ul,header{
    color: white;
    word-break: break-all;
    align-self: center; 
}
#ui_info{
    display: flex;
    flex-wrap: wrap;
    background-color: grey;
    margin:  0;
    padding: 0;
 }
 #ui_img{
    width: 100%;
    height: 100%;
 }
 .icons{
    height: 50px;
    width: 50px;
 }

/* #contet{
    margin: 0;
    margin-top: 40px;
    padding-top: 40px;
    padding: 0;
} */